@import("vars.styl");

body {
  background $bgColor
}


div {
  margin: 20px;
  clear: both;
}

.rater ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rater li {
  padding: $padding;
  font-size: 20px;
  background: lighten($bgColor, 20);
  display: inline-block;
  transition: .5s;
  margin: 0;
  list-style-type: none;

  &.rater-hover {
    background: blue;
  }
}


output {
  position: fixed;
  right: 20px;
  background #666;
  color: white;
  padding: 20px;
}
